.MainWrapper {
  @apply flex flex-1 flex-col w-full min-h-screen;
}



.InnerContent {
  @apply flex flex-col justify-center w-full p-4;
}

.RedInnerContent {
    @apply bg-red-600;
}

.MainHeading {
  @apply text-6xl font-thin;
}

.LettersContainer {
  @apply flex items-center justify-center p-4;
  min-height: 600vh;
}


.LettersContainer p {
  @apply text-6xl font-thin;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.ToBottomGradient {
  /*@apply bg-gradient-to-b from-neutral-900 to-red-600;*/
  @apply bg-red-600
}

.ToTopGradient {
  /*@apply bg-gradient-to-b to-neutral-900 from-red-600;*/
  @apply bg-neutral-900;
}

.TallSection {
  height: 700vh;
}