.Main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.StaticFullPage {
  @apply h-screen;
}

.InnerContent {
  @apply flex items-center justify-center w-full p-4;
}

.RedInnerContent {
    @apply bg-red-600;
}

.MainHeading {
  @apply text-6xl font-thin;
}

.LettersContainer {
  @apply flex items-center justify-center w-full p-4;
}


.LettersContainer p {
  @apply text-6xl font-thin;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.ToBottomGradient {
  @apply bg-gradient-to-b from-neutral-900 to-red-600;
}

.ToTopGradient {
  @apply bg-gradient-to-b to-neutral-900 from-red-600;
}